### Node ###
# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (http://nodejs.org/api/addons.html)
lib/
build*/

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# Generated Typescript declarations
*.d.cts
*.d.cts.map
