argon2/appveyor.yml
argon2/argon2-specs.pdf
argon2/Argon2.sln
argon2/export.sh
argon2/kats
argon2/latex
argon2/libargon2.pc
argon2/Makefile
argon2/man
argon2/src/bench.c
argon2/src/genkat.c
argon2/src/genkat.h
argon2/src/run.c
argon2/src/test.c
argon2/vs2015
benchmark.js
ISSUE_TEMPLATE.md
test-d.js
test-d.ts
tsconfig.json
.babelrc
.editorconfig
.git*
.idea
.node-version
.travis.yml
