argon2/appveyor.yml
argon2/argon2-specs.pdf
argon2/Argon2.sln
argon2/export.sh
argon2/kats
argon2/Makefile
argon2/src/bench.c
argon2/src/blake2/blamka-round-ref.h
argon2/src/genkat.c
argon2/src/genkat.h
argon2/src/ref.c
argon2/src/ref.h
argon2/src/run.c
argon2/src/test.c
argon2/vs2015
benchmark.js
ISSUE_TEMPLATE.md
.editorconfig
.git*
.idea
.travis.yml
