dist: xenial
language: node_js
node_js:
- '8'
- '10'
- '12'
os:
- linux
- osx
addons:
  apt:
    packages:
    - lcov
cache: yarn
env:
  matrix:
  - npm_config_debug=yes
before_script: yarn lint
after_success:
- nyc report --reporter=text-lcov > lcov-js.info
- lcov -c -d . --no-external -o lcov-cpp.info
- lcov -r lcov-cpp.info "*/node_modules/*" -o lcov-cpp.info
- lcov -a lcov-cpp.info -a lcov-js.info | coveralls
- yarn test:ts
- if [[ $TRAVIS_TAG =~ ^v[0-9]+\.[0-9]+\.[0-9]+ ]]; then echo "Publishing..."; npx node-pre-gyp package; npx node-pre-gyp-github publish; echo "Done publishing!"; fi;
