language: node_js
node_js:
  - "6"
  - "8"
  - "9"
  - "10"
addons:
  apt:
    packages:
      - lcov
env:
  - npm_config_debug=yes
before_install: npm install -g node-gyp
after_success:
  - npm install -g standard snazzy && npm run lint
  - lcov -c -d . --no-external -o lcov-cpp.info
  - lcov -r lcov-cpp.info "*/node_modules/*" -o lcov-cpp.info
  - lcov -a lcov-cpp.info -a coverage/lcov.info -o lcov.info
  - npm install -g coveralls && coveralls < lcov.info
