name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]
        os: [ubuntu-16.04, macos-latest, windows-latest]

    name: Build node-${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      YARN_GPG: no
      npm_config_debug: yes
      npm_config_build_from_source: true

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: true

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Run tests
      run: yarn test

    - name: "[Alpine] run tests"
      if: matrix.os == 'ubuntu-16.04'
      run: docker run -w /src --entrypoint /bin/sh -v`pwd`:/src "node:12-alpine" scripts/test-alpine.sh

    - name: "[Linux] Install lcov"
      if: matrix.os == 'ubuntu-16.04'
      run: sudo apt install lcov

    - name: "[Linux] Generate coverage"
      if: matrix.os == 'ubuntu-16.04'
      run: |
        yarn nyc report --reporter=text-lcov > lcov-js.info
        lcov -c -d . --no-external -o lcov-cpp.info
        lcov -r lcov-cpp.info "*/node_modules/*" -o lcov-cpp.info
        lcov -a lcov-js.info -a lcov-cpp.info -o lcov.info

    - name: "[Linux] Send to Coveralls"
      if: matrix.os == 'ubuntu-16.04'
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./lcov.info
        parallel: true

  coverage-end:
    needs: build

    name: End Coveralls report
    runs-on: ubuntu-16.04

    steps:
    - name: End Coveralls parallel job
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
