name: CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        node-version: [10.x, 12.x, 13.x]
        os: [ubuntu-latest, macos-latest, windows-latest]

    name: Build node-${{ matrix.node-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      YARN_GPG: no
      npm_config_debug: yes

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        submodules: true

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: yarn install --frozen-lockfile --ignore-scripts

    - name: Build binaries
      run: yarn node-pre-gyp build

    - name: Run tests
      run: yarn test

    - name: Generate coverage
      run: yarn nyc report --reporter=text-lcov > lcov-js.info
    
    - name: Send to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./lcov-js.info
        parallel: true

    - name: "[Linux] Install lcov"
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt install lcov

    - name: "[Linux] Generate C++ coverage"
      if: matrix.os == 'ubuntu-latest'
      run: |
        lcov -c -d . --no-external -o lcov-cpp.info
        lcov -r lcov-cpp.info "*/node_modules/*" -o lcov-cpp.info

    - name: "[Linux] Send to Coveralls"
      if: matrix.os == 'ubuntu-latest'
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: ./lcov-cpp.info
        parallel: true

  end-coveralls:
    needs: build

    name: End Coveralls report
    runs-on: ubuntu-latest

    steps:
    - name: End Coveralls parallel job
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
